system_ext/priv-app/OnePlusCamera/OnePlusCamera.apk
system_ext/priv-app/OnePlusGallery/OnePlusGallery.apk
product/priv-app/RecorderPrebuilt/RecorderPrebuilt.apk
product/priv-app/PrebuiltGmsCore/PrebuiltGmsCoreSc.apk
product/priv-app/Velvet/Velvet.apk
